
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle, #ff9ff3, #5f27cd, #2e086d);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
}


.card {
    background: rgba(255,255,255,0.15);
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    backdrop-filter: blur(10px);
}


.projects-container {
    position: relative;
    background: rgba(255, 110, 199, 0.35); /* ROSA TRANSPARENTE */
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
}


.projects-container h2 {
    margin-bottom: 15px;
}


.project {
    position: relative;
    background: rgba(255, 110, 199, 0.25);
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}


.project::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 15px;
    background: linear-gradient(
        45deg,
        #00ffff,
        #5f27cd,
        #ff00cc,
        #00ffff
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(8px);
    animation: rgbMove 6s linear infinite;
}

@keyframes rgbMove {
    0% { background-position: 0% }
    100% { background-position: 300% }
}

.project span {
    font-weight: bold;
}

.project a {
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: linear-gradient(45deg, #6c5ce7, #00cec9);
    box-shadow: 0 0 10px rgba(0,255,255,0.7);
    transition: 0.3s;
}

.project a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ffff;
}